.centered{
    width: 100%; /*set to 100% so text-align will fall in the center of the image*/
    text-align: center; /*text will be horizontally centered in the image*/
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    font-size: 30px;
    width: 50%; 
    height: 40px
}


body{
    font-size: 30px;

}



